@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Englebert');

body{
    font-family: 'Josefin Sans', sans-serif;
    color: #ececec;
    background-color: #1a2226;
}
.header-button{
    font-size: 30px;
    color: #ececec;
    text-decoration: none;
}
.navbar-custom-menu{
	margin-right: 8%;
	height: 50px;
}
#add-user{
	padding-top: 8px;
}
#menu-options{
	margin: 5%;
}
.options{
	margin: 2%;
}
#alcol-title{
	font-size: 25px;
	float: left;
	margin-top: 0.8%;
	margin-left: 15%;
}
#before{
	padding-top: 35%;
}
#add-user-modal{
	margin-left: 90%;
	font-size: 20px;
}
table{
	color: #383838;
}
tr:nth-child(even){
	background: #eaeaea;
}
th{
	background: #395062;
	color: #fff;
}